/* custom css */

a.navbar-brand {
	display: flex;
	align-items: center;
}

p.title {
	font-size: 30px;
	margin-bottom: 0;
}

dl.simple {
	margin-bottom: 0px;
}


/* from https://github.com/YosefLab/scvi-tools/blob/master/docs/_static/css/override.css */

dt:target, span.highlighted {
    background-color: transparent;
}

code.docutils.literal.notranslate.xref, a code {
    background: transparent;
    font-weight: bold;
    color: inherit;
}

a > code {
    color: inherit;
}

code.docutils.literal.notranslate {
    background: #f5f5f5;
    font-size: 87.5%;
    border-radius: 3px;
    color: #000;
    word-wrap: break-word;
    padding: 2px 5px;
}


/* Copy buttons */

button.copybtn {
    top: .1em;
    right: .1em;
	width: 1.5em;
    height: 1.5em;
}
